.position-ab {
  position: absolute !important;
}

.position-re {
  position: relative !important;
}

.box-size {
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-just-center {
  justify-content: center;
}

.flex-just-between {
  justify-content: space-between;
}

.flex-just-round {
  justify-content: space-around;
}

.flex-just-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex-grow: 1;
}